.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-board {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.container_area {
  margin: 0 5rem;
}

.status1 {
  margin-bottom: 10px;
}
.status2 {
  margin-bottom: 15px;
}

.nameBoard {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  background: burlywood;
}

.computer {
  background: #d1d1d1;
}

.colorize {
  background: green;
}

#reload {
  margin-top: 20px;
}

#reload:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.1);
}

.square {
  background: rgb(243, 243, 243);
  border: 1px solid rgb(73, 126, 249);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
