.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-board {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  height: 28rem;
}

.container_area {
  margin: 0 5rem;
}

.container_area_board {
  position: relative;
}

.status1 {
  margin-bottom: 10px;
}

.status2 {
  margin-bottom: 15px;
}

.letterCoords {
  display: flex;
  margin-bottom: 5px;
}

.letterCoord {
  width: 37px;
  text-align: center;
}

.numberCoords {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 22px;
  left: -23px;
}

.numberCoord {
  height: 37px;
  text-align: right;
}

.canvas {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 0 1px #000;
  background-color: #eee;
}

.computerCanvas {
  cursor: pointer;
}

.nameBoard {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  background: burlywood;
}